@import url(../../stylesheets/variable.scss);
.ProjectDetails {
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-top: 2%;
  // margin-left: 2.7%;
  // margin-right: 12.5%;
  padding: 24px 22px 47px 24px;
  border-radius: 16px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;    

  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
}

.ProjectDetails-Head {
  width: 165px;
  height: 31px;
  margin: 0 101px 32px 0;
  font-family: DMSans-medium;
  font-size: 24px;
  // font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.ProjectDetails-Names {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .ProjectDetails {
    width: 100vw;
    margin:auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
  }
}
